<% data.sections.each do |sectionKey, section| %>
### <%= section.name %> section

<%= partial('includes/product/common_rows', locals: { unit: section }) %>

#### People

<% if section.pm_team_tag %>
  | Product | <%= team_links_from_group(group: section.pm_team_tag) %>
<% end %>
<% if section.pm %>
  | Product | [<%=section.pm%>] |
<% end %>
<% if section.development_team_tag %>
  | Development | <%= team_links_from_group(group: section.development_team_tag) %> |
<% end %>
<% if section.em %>
  | Development | <%= section.em.map{ |em_er| "[#{em_er}]" }.join(", ")  %> |
<% end %>
<% if section.pdm %>
  | Product Design Manager | <%= section.pdm.map{ |pdm_er| "[#{pdm_er}]" }.join(", ") %> |
<% end %>
<% if section.spd %>
  | Staff Product Designer | <%= section.spd.map{ |spd_er| "[#{spd_er}]" }.join(", ") %> |
<% end %>
<% if section.uxr %>
  | UX Research | [<%=section.uxr%>] | 
<% end %>
<% if section.focus %>
  | Focus | [<%=section.focus%>] |
<% end %>
<% if section.support_team_tag %>
  | Support | <%=team_links_from_group(group: section.support_team_tag)%> |
<% end %>
<% if section.sm %>
  | Support | [<%=section.sm%>] |
<% end %>
<% if section.pmm_team_tag %>
  | Product Marketing | <%=team_links_from_group(group: section.pmm_team_tag)%> |
<% end %>
<% if section.pmm %>
  | Product Marketing | [<%=section.pmm%>] |
<% end %>
<% if section.quality_team_tag %>
  | Quality | <%=team_links_from_group(group: section.quality_team_tag)%> |
<% end %>
<% if section.qm %> 
  | Quality | [<%=section.qm%>] |
<% end %>
<% if section.cm_team_tag %>
  | Content Marketing | <%=team_links_from_group(group: section.cm_team_tag)%> |
<% end %>
<% if section.cm %>
  | Content Marketing | [<%=section.cm%>] |
<% end %>
<% if section.tw_team_tag %>
  | Technical Writing | <%=team_links_from_group(group: section.tw_team_tag)%> |
<% end %>
<% if section.tw %>
  | Technical Writing | [<%=section.tw%>] |
<% end %>
<% if section.cs_team_tag %>
  | Customer Success | <%=team_links_from_group(group: section.cs_team_tag)%> |
<% end %>
<% if section.ar_team_tag %>
  | Analyst Relations | <%=team_links_from_group(group: section.ar_team_tag)%> |
<% end %>
<% if section.rem %>
  | Infrastructure Manager | [<%=section.rem%>] |
<% end %>
<% if section.legal_team_tag %>
  | Legal and Corporate Affairs | <%=team_links_from_group(group: section.legal_team_tag)%> |
<% end %>

<% data.stages.stages.each_value do |stage| %>
  <% if stage.section == sectionKey %>
<%= partial('includes/product/stage', locals: { stage: stage }) %>
    <% if stage.groups %>
      <% stage.groups.each_value do |group| %>
<%= partial('includes/product/group', locals: { stage: stage, group: group }) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% end %>
